body {
	background-color: white;
}

.header .img-responsive {
	margin-left: 250px;
	margin-right: auto;
    width: 100%;
    height: auto;
}

.search {
    margin-top: 200px;
}

.searchbutton {
    background-color: black;
    color: white;
}

.slider {
    witdh:960px;
    height: 640px;
    overflow: hidden;
}

.slides {
    display: block;
    background-color: white;
    width: 6000px;
    height: 640px;
    margin: 0;
    padding: 0;
}

.slide {
    float: left;
    list-style-type: none;
    width: 1500px;
    height: 640px; 
}

.menu {
	border-top: black 3px solid;
	border-bottom: black 3px solid;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: white;

}

li {
    display: inline;
    float: left;
    padding-left: 50px;
    color: black;
    font-size: 20px;
}

.siz {
	padding-right: 50px;
	padding-left: 20px;
	border-right: 3px solid black;
}

a {
    display: block;
    background-color: white;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: black;
    text-decoration: none;
    color: white;
}

p {
	text-align: justify;
    text-indent: 30px;
    font-size: 20px;
    color:black;
    background-color: #ECE1E1;
    margin-top: 20px;
}

.col-sm-4 {
	padding-top: 21px;
}

hr {
	border-top: 3px solid black;
}

.kontakti {
	padding-right: 20px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

pre {
    background-color: black;
    color: white;
    font-size: 17px;
}

.info {
    text-align: left;
    text-align: justify;
    font-family: serif;
    font-size: 20px;
    font-size: 20px;
    background-color: #ECE1E1;
    color: black; 
    
}

.footer {
    text-align: right;
    font-size: 14px;
    color: #808080;
    background-color: white;
}

.savkevip {
    background-color: blue;
}

.facebook {
    float: left;
}

.gmail {
    float: left;
}

.youtube{
    float: left;
}